.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 24px;
  max-width: 95px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: transparent;
  background-color: transparent;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  border: transparent;
  background-color: transparent;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid #000000;
  margin: 8px 0 24px;
  width: 100%;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__legend {
  margin-bottom: 12px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__label_type_radio {
  color: #00000080;
}

.modal__label_type_radio:hover {
  color: black;
}

.modal__radio-input {
  margin: 0 8px 5px 0;
  position: relative;
  top: 1px;
}

.modal__submit {
  max-width: 124px;
  height: 36px;
  margin-top: 32px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  border: none;
  background-color: #0000004d;
  color: #fff;
}
