@font-face {
  src: url("../../assets/font_images/CabinetGrotesk-Regular.woff")
    format("woff");
  font-family: "Cabinet Grotesk";
}

.toggle__position {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
