.weather__images {
  max-width: 328px;
  border-radius: 18px;
}

.weather__cards-text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  text-align: center;
  position: relative;

  top: 65px;
}
