.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.clothes-section__adding_items {
  border: transparent;
  background-color: #f3f3f3;
  color: rgba(0, 0, 0, 0.6);
}

.clothes-section__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 0px;
  margin-bottom: 0;
}
